@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 128px;
  margin-bottom: 50px;
  left: 50px;
}

body {
  background-color: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    transition: background-color 0.3s, color 0.3s;
  }
}

@layer components {
  .dark {
    background-color: #1a202c;
    color: #cbd5e0;
  }
  
  .dark .App {
    background: rgba(45, 55, 72, 0.5);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  }
  
  .dark body {
    background-color: #1a202c;
    background: radial-gradient(
      circle,
      rgba(26, 32, 44, 1) 0%,
      rgba(45, 55, 72, 1) 100%
    );
  }
}